@font-face {
    font-family: Figtree;
    src: url(assets/fonts/static/Figtree-Medium.ttf);
}

@font-face {
    font-family: FigtreeBold;
    src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
}

body {
    font-family: Figtree;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent-container {
    background-color: hsl(0, 0%, 100%);
    display: inline-flex;
    flex-direction: column;
    width: 250px;
    border-radius: 10px;
    padding-left: 15px;
    border-style: solid;
    border-width: 1px 5px 5px 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.parent-container > * { /* remove default margin spacing on header and paragraph elements */
    margin: 10px 0 5px 0;
}

.learning-header {
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.publishing-date {
    font-size: 12px;
}

.header-title {
    color: hsl(0, 0%, 7%);
}

.header-title:hover {
    color: hsl(47, 88%, 63%);
}

.description {
    font-size: 11px;
    color: hsl(0, 0%, 42%);
    line-height: 1.6;
}

.img-container {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

.header-img {
    border-radius: 10px;
    width: 100%;
    max-width: 240px;
    height: auto;
}

.author {
    display: inline-flex;
    align-items: center;
}

.author-img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.attribution { 
    font-size: 11px; text-align: center; 
    padding-top: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Small screens */
@media (max-width: 480px) {
    .parent-container {
        width: 70%;
        padding: 15px;
    }

    .header-title {
        font-family: FigtreeBold;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .parent-container {
        width: 45%;
        padding: 20px;
        border-radius: 20px;
    }

    .header-title {
        font-family: FigtreeBold;
    }
}